*.VC.db
*.a
*.bin
*.check_cache
*.cmake
*.exe
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.lastcodeanalysisissucceded
*.log
*.make
*.marks
*.o
*.obj
*.opendb
*.opensdf
*.res
*.sdf
*.suo
*.tlog
*cache
*~ml
build/*
intermediate
runDir
CMakeFiles/
*.VC.db*
*.pdb
Build-Windows/*

/Build-Linux
