[submodule "deps/imgui"]
	path = deps/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "deps/SDL2Wrapper"]
	path = deps/SDL2Wrapper
	url = git@github.com:bartekordek/SDL2Wrapper.git
[submodule "deps/GWork"]
	path = deps/GWork
	url = git@github.com:billyquith/GWork.git
[submodule "deps/glfw-repo"]
	path = deps/glfw-repo
	url = git@github.com:glfw/glfw.git
[submodule "deps/helpers"]
	path = deps/helpers
	url = git@github.com:bartekordek/helpers.git
