*.a
*.bin
*.check_cache
*.cmake
*.exe
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.lastcodeanalysisissucceded
*.log
*.make
*.marks
*.o
*.obj
*.opendb
*.opensdf
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.VC.db
*.VC.db*
*~ml
*cache
Build-*
build/*
CMakeFiles/
deps/Makefile
intermediate
runDir