*.a
*.bin
*.check_cache
*.exe
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.lastcodeanalysisissucceded
*.log
*.make
*.marks
*.o
*.obj
*.opendb
*.opensdf
*.pdb
*.res
*.sdf
*.so
*.suo
*.tlog
*.VC.db
*.VC.db*
*~ml
*cache
Build-*
build/*
CMakeFiles/
deps/Makefile
cmake_install.cmake
Makefile
intermediate
runDir
deps/glew-2.1.0/glew.pc
